@tailwind base;
@tailwind utilities;
@tailwind components;
.btn-one:hover .line {
transform-origin: center;
  transition: 1s;
}
.btn-one:hover .top {
  rotate: 45deg;
}
.btn-one:hover .bottom {
  rotate: -45deg;
}
.btn-one:hover .middle {
  opacity: 0;
}
.btn-one:hover :is(.top,.bottom) {
  y: 45;
}
